.deck_upload {
  &-input.m {
    display: flex;
    margin: 1rem;
  }

  &-access.m {
    margin: 0 1rem;
  }

  &-cards {
    padding: 1rem;
    text-align: center;

    &-item {
      background-color: var(--bg-l);
      padding: 1rem;
      margin-bottom: 1rem;

      &-opts {
        display: flex;
        border-bottom: 1px solid var(--bg);
        margin-bottom: 0.5rem;

        &-icon {
          width: 1.2rem;
          height: 1.2rem;
          margin-left: 0.5rem;
          cursor: pointer;
        }
      }
    }

    &-add {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem 0;
      background-color: white;
      cursor: pointer;
      margin-bottom: 1rem;

      &-icon {
        width: 1.5rem;
        height: 1.5rem;

        .on-p-fill {
          fill: var(--primary);
        }
      }
    }
  }

  &-dialog {
    .MuiPaper-root {
      width: 80vw;
      // min-width: 30rem;
    }

    &-content {
      display: flex;
      align-items: center;

      &-linear_progress {
        flex: 1;
      }

      &-progress_text {
        padding-left: 1rem;
        transform: translateY(-2px);
      }
    }
  }
}
