.deck_intro {
  padding: 0 1rem;

  &-info {
    margin: 1rem 0;
    // padding: 1rem;
    // border-radius: 4px;
    // border: 1px solid var(--bg);

    &-title {
      font-size: 1.3rem;
      font-weight: bold;
      color: var(--primary);
    }

    &-body {
      display: flex;
      align-items: center;
      margin: 0.5rem 0;
      font-size: 0.9rem;

      &-create {
        &-by {
          margin-right: 0.5em;
        }
      }

      &-collection,
      &-hot {
        display: flex;
        align-items: center;
        padding-right: 0.5rem;
      }

      &-icon {
        width: 1rem;
        height: 1rem;
      }

      &-question_count {
        margin-right: 0.5rem;
      }
    }

    &-brief {
      font-size: 0.9rem;
      padding: 0.5rem;
      border-top: 2px solid var(--primary);
      background-color: var(--primary-a);
      border-radius: 0 0 5px 5px;
    }
  }

  &-some_ques {
    &-title {
      border-left: 5px solid var(--primary);
      padding: 0.3rem 0.5rem;
    }
  }

  &-action_container {
    padding: 0 1rem;
    &-actions {
      display: grid;
      row-gap: 0.5rem;
      justify-items: center;
      align-items: center;
      grid-template-columns: 1fr 1fr;

      .MuiButton-root {
        width: 5rem;
      }
    }
  }
}
