$header-h: 40px;
$card-m-t: 2rem;
$action-m-b: 3rem;

$outset-shadow: rgb(100 100 111 / 15%) 5px 5px 9px 0px;
$inset-in-shadow: rgba(99, 99, 99, 10%) -3px -3px 3px 1px inset,
  rgba(99, 99, 99, 15%) -2px -2px 3px 0px inset;
$no-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
$inset-shadow: rgba(99, 99, 99, 10%) 3px 3px 3px 1px inset,
  rgba(99, 99, 99, 15%) 2px 2px 3px 0px inset;

.dq-flip_card {
  &-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;

    transition: all 0.15s;
    cursor: pointer;
    box-shadow: $outset-shadow;
    background-color: var(--bg-l);

    &.question {
      transform: rotate3d(1, 0, 0, 0deg);
    }
    &.answer {
      transform: rotate3d(1, 0, 0, 0deg);

      ::-webkit-scrollbar-thumb {
        background-color: var(--bg);
        border-radius: 999px;
        -webkit-border-radius: 6px;

        &:hover {
          background-color: var(--bg-l);
        }

        &:active {
          background-color: var(--bg-d);
        }
      }
    }
    &.fading {
      transform: rotate3d(1, 0, 0, 90deg);
    }

    &-scroll {
      overflow-y: scroll;
      // max-height: calc(80vh - #{$header-h} - #{$card-m-t} - #{$action-m-b});
      max-height: 13rem;
      padding: 0 0.5rem;
      overflow-wrap: break-word;
      text-justify: inter-ideograph;
      text-align: justify;
      word-break: normal;
    }
  }

  &-actions {
    display: flex;
    align-items: center;
    justify-content: center;

    &-process {
      margin: 0 4rem;
    }

    &-icon {
      width: 1.7em;
      line-height: 0;
      cursor: pointer;
    }
  }
}
