$primary: #a39391;
$primary-d: darken($primary, 15%);
$primary-l: lighten($primary, 15%);

$secondary: #e79686;
$secondary-d: darken($secondary, 15%);
$secondary-l: lighten($secondary, 15%);

$on-bg: hsl(221, 12%, 15%);
$on-bg-d: darken($on-bg, 10%);
$on-bg-l: lighten($on-bg, 10%);

$bg: hsl(221, 10%, 90%);
$bg-d: darken($bg, 8%);
$bg-l: lighten($bg, 100%);

body {
  --primary: #{$primary};
  --primary-d: #{$primary-d};
  --primary-l: #{$primary-l};

  --secondary: #{$secondary};
  --secondary-d: #{$secondary-d};
  --secondary-l: #{$secondary-l};

  --on-bg: #{$on-bg};
  --on-bg-d: #{$on-bg-d};
  --on-bg-l: #{$on-bg-l};

  --bg: #{$bg};
  --bg-d: #{$bg-d};
  --bg-l: #{$bg-l};
}

.dark {
  --primary-d: #{$primary-l};
  --primary-l: #{$primary-d};

  --secondary-d: #{$secondary-l};
  --secondary-l: #{$secondary-d};

  --on-bg-d: #{$on-bg-l};
  --on-bg-l: #{$on-bg-d};

  --bg-d: #{$bg-l};
  --bg-l: #{$bg-d};
}
